/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: 0;
  cursor: pointer;
}




/* Main */
body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

#content {
  width: 500px;
  margin: 50px auto;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

p.help {
  color: #666;
  margin-bottom: 5px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 6px 0;
}

li {
  font-size: 16px;
  line-height: 24px;
}

label {
  display: inline-block;
  padding-left: 5px;
}

.domain {
  color: #999;
  font-size: 12px;
}

textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #444;
  padding: 10px;
  line-height: 24px;
  margin-bottom: 30px;
}





/* Button */
a.button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 700;
  color: #666;
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 1px 0px;
  border: 1px solid #aaa;
  text-decoration: none;
}

a.button.green {
  background-image: -webkit-linear-gradient(top, #79cd86, #57ab62);
  border-color: #498f52;
  color: #fff;
  text-shadow: #666 0px -1px 0px;
}
